In [1]:
print('helloworld')

helloworld

###ITERATIONS

In [2]:
range(1,10)

range(1, 10)

In [3]:
range(1,10,2)

range(1, 10, 2)

In [4]:
# syntax:
# for var in range(start,end,diff):
# statements

In [5]:
a=input("enter a name")
for i in range(1,11):
    print(a)

enter a namehello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [6]:
#a=input("enter a name")
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
a=input("enter a name")
for i in range(1,11):
    print(a,end =" ")

enter a namehello
hello hello hello hello hello hello hello hello hello hello

In [21]:
#a=input("enter a name")
for i in range(1,101):
    if i%2==0:
        print(i,end =" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [22]:
#a=input("enter a name")
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [31]:
t =int(input('enter table number:'))
t_len =int(input('enter table length:'))
for i in range(1,t_len+1):
    #17 * 1 = 17
    print('{} * {} = {}'.format(t,i,t*i))

enter table number:17
enter table length:20
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
17 * 11 = 187
17 * 12 = 204
17 * 13 = 221
17 * 14 = 238
17 * 15 = 255
17 * 16 = 272
17 * 17 = 289
17 * 18 = 306
17 * 19 = 323
17 * 20 = 340

In [32]:
t =int(input('enter table number:'))
t_len =int(input('enter table length:'))
for i in range(1,t_len+1):
    #17 * 1 = 17
    print('{} * {} = {}'.format(t,i,t*i))

enter table number:10
enter table length:19
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150
10 * 16 = 160
10 * 17 = 170
10 * 18 = 180
10 * 19 = 190

In [37]:
n=int(input('enter a number:'))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=' ')

enter a number:6447
1 3 7 21 307 921 2149 6447

In [38]:
n=int(input('enter a number:'))
cnt = 0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end=' ')
print('factors count is :',cnt)

enter a number:166
1 2 83 166 factors count is : 4

In [1]:
n=int(input('enter a number:'))
cnt = 0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end=' ')
print('factors count is :',cnt)
if cnt == 2:
    print('prime number')
else:
    print('not a prime number')

enter a number:4
1 2 4 factors count is : 3
not a prime number

In [2]:
n=int(input('enter a number:'))
cnt = 0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end=' ')
print('factors count is :',cnt)
if cnt == 2:
    print('prime number')
else:
    print('not a prime number')

enter a number:31
1 31 factors count is : 2
prime number

-WHILE

In [4]:
# while condition:
# statements
i=1 #start value
while i<11:#final value
    print(i)
    i+=1#step value

1
2
3
4
5
6
7
8
9
10

In [1]:
#perfect number
n = int(input('enter number'))
s = 0
for i in range(1,n):
    if n%i == 0:
        s+=i
if s == n:
    print('perfect number')
else:
    print('not perfect number')

enter number6
perfect number

In [2]:
#perfect number
n = int(input('enter number'))
s = 0
for i in range(1,n):
    if n%i == 0:
        s+=i
if s == n:
    print('perfect number')
else:
    print('not perfect number')

enter number1
not perfect number

In [1]:
t = int(input('enter tables up to:'))
t_len = int(input('enter table length:'))
for i in range(1,1+t):
    for j in range(1,t_len+1):
        print('{} * {} = {}'.fromat(i,j,i*j))

enter tables up to:14
enter table length:13

AttributeError: 'str' object has no attribute 'fromat'

In [8]:
i=10
while i>0:
    print(i,end = ' ')
    i-=1

10 9 8 7 6 5 4 3 2 1

In [9]:
#BREAK
#CONTINUE

for i in range(1,10):
    if i==5:
        continue
    print(i,end =' ')

1 2 3 4 6 7 8 9

In [3]:
t = int(input('enter tables up to:'))
t_len = int(input('enter table length:'))
for i in range(1,1+t):
    for j in range(1,t_len+1):
        print('{} *{} = {}'.format(i,j,i*j))

enter tables up to:14
enter table length:12
1 *1 = 1
1 *2 = 2
1 *3 = 3
1 *4 = 4
1 *5 = 5
1 *6 = 6
1 *7 = 7
1 *8 = 8
1 *9 = 9
1 *10 = 10
1 *11 = 11
1 *12 = 12
2 *1 = 2
2 *2 = 4
2 *3 = 6
2 *4 = 8
2 *5 = 10
2 *6 = 12
2 *7 = 14
2 *8 = 16
2 *9 = 18
2 *10 = 20
2 *11 = 22
2 *12 = 24
3 *1 = 3
3 *2 = 6
3 *3 = 9
3 *4 = 12
3 *5 = 15
3 *6 = 18
3 *7 = 21
3 *8 = 24
3 *9 = 27
3 *10 = 30
3 *11 = 33
3 *12 = 36
4 *1 = 4
4 *2 = 8
4 *3 = 12
4 *4 = 16
4 *5 = 20
4 *6 = 24
4 *7 = 28
4 *8 = 32
4 *9 = 36
4 *10 = 40
4 *11 = 44
4 *12 = 48
5 *1 = 5
5 *2 = 10
5 *3 = 15
5 *4 = 20
5 *5 = 25
5 *6 = 30
5 *7 = 35
5 *8 = 40
5 *9 = 45
5 *10 = 50
5 *11 = 55
5 *12 = 60
6 *1 = 6
6 *2 = 12
6 *3 = 18
6 *4 = 24
6 *5 = 30
6 *6 = 36
6 *7 = 42
6 *8 = 48
6 *9 = 54
6 *10 = 60
6 *11 = 66
6 *12 = 72
7 *1 = 7
7 *2 = 14
7 *3 = 21
7 *4 = 28
7 *5 = 35
7 *6 = 42
7 *7 = 49
7 *8 = 56
7 *9 = 63
7 *10 = 70
7 *11 = 77
7 *12 = 84
8 *1 = 8
8 *2 = 16
8 *3 = 24
8 *4 = 32
8 *5 = 40
8 *6 = 48
8 *7 = 56
8 *8 = 64
8 *9 = 72
8 *10 = 80
8 *11 = 88
8 *12 = 96
9 *1 = 9
9 *2 = 18
9 *3 = 27
9 *4 = 36
9 *5 = 45
9 *6 = 54
9 *7 = 63
9 *8 = 72
9 *9 = 81
9 *10 = 90
9 *11 = 99
9 *12 = 108
10 *1 = 10
10 *2 = 20
10 *3 = 30
10 *4 = 40
10 *5 = 50
10 *6 = 60
10 *7 = 70
10 *8 = 80
10 *9 = 90
10 *10 = 100
10 *11 = 110
10 *12 = 120
11 *1 = 11
11 *2 = 22
11 *3 = 33
11 *4 = 44
11 *5 = 55
11 *6 = 66
11 *7 = 77
11 *8 = 88
11 *9 = 99
11 *10 = 110
11 *11 = 121
11 *12 = 132
12 *1 = 12
12 *2 = 24
12 *3 = 36
12 *4 = 48
12 *5 = 60
12 *6 = 72
12 *7 = 84
12 *8 = 96
12 *9 = 108
12 *10 = 120
12 *11 = 132
12 *12 = 144
13 *1 = 13
13 *2 = 26
13 *3 = 39
13 *4 = 52
13 *5 = 65
13 *6 = 78
13 *7 = 91
13 *8 = 104
13 *9 = 117
13 *10 = 130
13 *11 = 143
13 *12 = 156
14 *1 = 14
14 *2 = 28
14 *3 = 42
14 *4 = 56
14 *5 = 70
14 *6 = 84
14 *7 = 98
14 *8 = 112
14 *9 = 126
14 *10 = 140
14 *11 = 154
14 *12 = 168

###FUNCTIONS:
- block of code to perform some operations
- advantages :
    - code reusability
    - readbulity of the program
    - code reduce
    -time decrease
- types of the functions:
    -1. inbuilt/default functions:
        - Ex.print,sum,max,min,int
    -2. user defined functions
      1. function creation:
            1. function decleration:
                'def FunctionName:'
            2. function defination:
                'statements'
                
    2.function calling:
            'by using function name'
    -3. special functions:
        - lambada,comphrensions,iterators,map

In [7]:
#function creation
def add(a,b):
    print(a+b)
add(4,5)

9

In [9]:
def sub(a,b):
    print(a-b)
sub(4,5)

-1

In [11]:
def div(a,b):
    print(a/b)
div(4,5)

0.8

# types of user defined functions:
# based on return value
#1. without arg and without return value
#2. without arg and with return value
#3. with arg and without return value
#4. with arg and with return value

In [13]:
#1. without arg and without return value
def f1():
    n = int(input('enter n value:'))
    if n%10 == 0:
        print('number is factor of 10')
    else:
        print('number is not a factor of 10')
f1()
n=f1()
print(n)

enter n value:15
number is not a factor of 10
enter n value:6
number is not a factor of 10
None

In [1]:
#1. without arg and without return value
def f1():
    n = int(input('enter n value:'))
    if 10%n == 0:
        print('number is factor of 10')
    else:
        print('number is not a factor of 10')
f1()
n=f1()
print(n)

enter n value:5
number is factor of 10
enter n value:5
number is factor of 10
None

In [2]:
#2. without arg and with return value
def f2():
    n1 = int(input('enter n1 value'))
    n2 = int(input('enter n2 value'))
    return n1,n2,n1+n2
a,b,c = f2()
print(a+b+c)

enter n1 value3
enter n2 value4
14

In [6]:
#2. without arg and with return value
def f2():
    n1 = int(input('enter n1 value'))
    n2 = int(input('enter n2 value'))
    return n1+n2,n1-n2,n1*n2,n1/n2
add,sub,mul,div = f2()
print(add)
print(sub)

enter n1 value10
enter n2 value5
15
5

In [7]:
#3. with arg and without return value
n1 = int(input('enter n1 value'))
n2 = int(input('enter n2 value'))
def f2(n1,n2):
    print('addition is:',n1+n2)
    print('subraction is:',n1-n2)
    print('multiplication is :',n1*n2)
    print('division is:',n1/n2)
f2(n1,n2)

enter n1 value55
enter n2 value11
addition is: 66
subraction is: 44
multiplication is : 605
division is: 5.0

In [9]:
#4. with arg and with return value
n1 = int(input('enter n1 value'))
n2 = int(input('enter n2 value'))
def f2(n1,n2):
    print('addition is:',n1+n2)
    print('subraction is:',n1-n2)
    print('multiplication is :',n1*n2)
    print('division is:',n1/n2)
    return n1,n2
f2(n1,n2)
print(n1)
print(n2)

enter n1 value10
enter n2 value5
addition is: 15
subraction is: 5
multiplication is : 50
division is: 2.0
10
5